{{/*
  Renders a single demographic item for the Importance card breakdown.
  @context . - A single beneficiary object.
*/}}
<div class="flex items-center text-sm text-gray-600">
  <span>-</span>
  {{ if gt (.population | default 0) 0 }}
    <span class="font-semibold ml-1">{{ .population | lang.FormatNumber 0 }}</span>
  {{ else }}
    <span class="ml-1">Unknown number of</span>
  {{ end }}
  <span class="ml-1">{{ .beneficiary_type | humanize | title }}{{ with .location }} in <i class="not-italic">{{ . }}</i>{{ end }}</span>
  {{ with .source }}{{ partial "provenance-badge.html" . }}{{ end }}
</div>