<div class="flex items-start p-2 bg-gray-50 rounded-md border border-gray-200 text-sm">
  <div class="w-5 h-5 mr-2 flex-shrink-0 mt-0.5">
    {{ if eq .icon "activity" }}
      <svg class="w-full h-full text-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
      </svg>
    {{ else if eq .icon "outcome" }}
      <svg class="w-full h-full text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 18a8 8 0 100-16 8 8 0 000 16z" />
        <path fill="white" d="M10 5l1.5 3 3.3.5-2.4 2.3.6 3.2-3-1.6-3 1.6.6-3.2-2.4-2.3 3.3-.5L10 5z" />
      </svg>
    {{ end }}
  </div>
  <div class="text-gray-800">
    {{ if .url }}
      <a href="{{ .url | safeURL }}" target="_blank" rel="noopener noreferrer" class="hover:text-blue-600 hover:underline">
        {{ .text | safeHTML }}
      </a>
    {{ else }}
      {{ .text | safeHTML }}
    {{ end }}
  </div>
</div>